body {
  font-family: 'Roboto Slab', serif;
  padding: 0;
  margin: 0;
}

html, body { 
  scroll-behavior: smooth !important
}


header {
  background-image: url("/img/background.jpg");
  opacity: 0.95;
}

#header-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: 50% 0;
  background-size: cover;
  flex-direction: column;
}

.currentDate {
  color: white;
}

h1 {
  font-size: 28px;
}

#navBar {
  background: linear-gradient(180deg, #000000 23.94%, rgba(0, 0, 0, 0) 100%);
  position: fixed;
  width: 100%;
  padding: 8px;
  color: #FFFFFF;
  text-align: center;
}


#navBar:hover {
  background-color: black;
}

.order-button{
  font-size: 1rem;
  width: 12%;
  font-weight: bold;
  color: black;
  background-color: #FFFFFF;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

#order a{
  color: #FFFFFF;
  text-decoration: none;
  transform: inherit;
}

#main-menu{
  display: flex;
}

#main {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

#margherita-content,
#formaggi-content,
#capricciosa-content,
#schnitzel-content,
#mixGrill-content,
#bigBeefBun-content,
#coffee-content,
#latte-content,
#softDrink-content {
  display: flex;
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
}


.inner-box {
  margin: 25px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

input[type='number']{
  margin-top: 10px;
  width: 80px;
} 

.inner-box p {
  color: red;
}

#menu-img {
  width: 15rem;
  height: 10rem;
  border-radius: 10px;
}

.choice {
  width: 150px;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.cart-item, #order-list {
  margin: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.contact {
  margin: 10px;
  border: 1px solid black;
  padding: auto;
  border-radius: 10px;
}

.form {
  margin: 10px;
}

h2 {
  margin: 20px 0;
}

#orderAndCart {
  display: flex;
  flex-direction: column;
}
#flex-menu {
  margin-top: 100px;
}